@import "media-query.css";
.header {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid lavender;
}
.header div {
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.header .nav-btn {
  border-radius: 20px;
  transition: 0.6s ease;
}
.header .nav-btn:hover {
  opacity: 0.7;
}
.header .logo-icon {
  position: absolute;
  left: 30px;
  top: 5px;
  width: 40px;
  height: 40px;
}
.header .menu-butn {
  position: absolute;
  left: 65px;
  top: 9px;
  display: none;
}
.header .menu-butn i {
  color: #C6936A;
}
.header input::-moz-placeholder {
  font-style: italic;
}
.header input::placeholder {
  font-style: italic;
}

.fixed-nav {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: fixed;
}
.fixed-nav .searchbar, .fixed-nav .nav-btn-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #C6936A !important;
  color: #fff !important;
}

.quote-author {
  text-decoration: none;
}

.quote-author:hover, .quote-author:focus {
  opacity: 0.7;
}

.schedule-contents {
  min-height: 100vh;
}

.add-task {
  color: #C6936A;
  cursor: pointer;
}

.add-task:hover {
  opacity: 0.7;
}

@keyframes outline_down {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade {
  display: block;
  animation-name: fade;
  animation-duration: 2s;
}

.task-item {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 15px;
  animation-name: outline_down;
  width: 100%;
  height: 150px;
  animation-duration: 2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.task-item:hover {
  opacity: 0.7;
}

.task-item .task-content {
  opacity: 0;
  transition: 2s;
}

.mini-form-active {
  top: 0;
  left: 50%;
  transform: translate(-50%, 140px);
}

.mini-form {
  position: fixed;
  width: 65%;
  opacity: 0;
  border: 2px solid lavender;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  z-index: 0;
}
.mini-form #head {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #C6936A;
  color: aliceblue;
}
.mini-form label {
  font-weight: 500;
}
.mini-form .butn {
  background-color: white;
  border: 1px solid lavender;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  transition: 0.3s;
}
.mini-form .butn:hover {
  color: aliceblue;
  background-color: #C6936A;
  opacity: 0.5;
}
.mini-form .butn:active {
  opacity: 1;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 110 !important;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay .closebutn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #818181;
}
.overlay .closebutn:hover {
  color: #f1f1f1;
}
.overlay .closebutn:focus {
  color: #f1f1f1;
}

.add-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #C6936A;
  cursor: pointer;
}

.add-icon:hover {
  opacity: 0.7;
}/*# sourceMappingURL=styles.css.map */